.btn {
	background-color: #64b9f5;
	box-shadow: 1px 1px 5px #454545;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;

	.fa {
		display: inline;
		font-size: 20px;
		margin-right: 5px;
	}
}