form {
	margin-top: 20px;	

	label {
		color: #c4c4c4;
		font-size: 10px;
		letter-spacing: 1px;
		margin: 0;
	}

	input[type=email], input[type=password] {
		border-top: none;
		border-right: none;
		border-bottom: 2px solid #b0b0b0;
		border-left: none;
		border-radius: 0;
		box-shadow: none;
		color: #bababa;
		font-size: 16px;
		padding: 0;

		&:focus {
			border-top: none;
			border-right: none;
			border-bottom: 2px solid #6cb1d4;
			border-left: none;
			border-radius: 0;
			box-shadow: none;
			color: #000;
		}
	}	

	input[type=password] {
		letter-spacing: 1px;
	}
}
	