#datepicker {

    .ui-datepicker-inline {
    	width: auto;
    	height: 240px;
    	border: 1px solid #ccc;
    	border-radius: 4px;
    }
}

.ui-widget-header {
	border: 0;
    background: #fff;
    font-weight: normal;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 0;
	background-color: #fff;
	font-weight: bold;
	text-align: center;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: #b3bc20;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	color: #f50000;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none;
    background: #fff;
    font-weight: normal;
    color: #2b2b2b;
    cursor: pointer;
}

.ui-icon-circle-triangle-w {
    background-position: -96px 0px;
}

.ui-icon-circle-triangle-e {
    background-position: -32px 0;
}