.popover.bottom {
	margin-top: 60px;
    min-width: 320px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    box-shadow: none;

	> .arrow {
		left: 91% !important;
	}
}

.popover-content {
	padding: 0;

	.userImg {
		background-color: #cae2ed;
	    width: 80px;
	    height: 80px;
	    line-height: 80px;
	    display: inline-block;
	    margin: 15px;
	    font-size: 40px;
	}

	.info {
		display: inline-block;
		vertical-align: top;
		margin-top: 15px;
		max-width: 210px;

		p {
			color: #575757;
			font-weight: bold;
		}

		span {
			color: #cccccc;
			display: block;
			margin-bottom: 10px;
		}

		a {
			color: #575757;
			display: block;
		}
	}

	#logout {
		display: block;
		border-top: 1px solid #e6e6e6;
		margin-top: 20px;

		a {
			color: #575757;
			display: inline-block;

			.fa {
				display: inline-block;
				font-size: 15px;
				padding-top: 10px;
				    width: 25px;
			}
		}

		.suporte {
			float: left;
			margin-left: 15px;
		}

		.logout {
			float: right;
			margin-right: 20px;
		}
	}
	
}